In [592]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

df = pd.read_excel("results.xlsx", header=[0,1], index_col=0)
df

                        Graph              Exhaustive            \
                         name    n      m #operations exec_time
0                     gset/G1  800  19176         NaN       NaN
1                     gset/G2  800  19176         NaN       NaN
2                     gset/G3  800  19176         NaN       NaN
3                     gset/G4  800  19176         NaN       NaN
4                     gset/G5  800  19176         NaN       NaN
...                       ...  ...    ...         ...       ...
1199  graphs/0070_125.graphml   70    301         NaN       NaN
1200  graphs/0025_500.graphml   25    150         NaN       NaN
1201  graphs/0021_750.graphml   21    157         NaN       NaN
1202  graphs/0024_250.graphml   24     69         NaN       NaN
1203  graphs/0400_750.graphml  400  59850         NaN       NaN

                         Heuristic                             greedy_prec
     #solutions tested #operations exec_time #solutions tested
0                  NaN     6225342  0.142515                 1    0.810908
1                  NaN     6232143  0.145883                 1    0.843632
2                  NaN     6208707  0.146347                 1    0.722165
3                  NaN     6233849  0.144618                 1    0.855487
4                  NaN     6225710  0.144028                 1    0.815837
...                ...         ...       ...               ...         ...
1199               NaN       30325  0.000876                 1         NaN
1200               NaN        2899  0.000134                 1         NaN
1201               NaN        1827  0.000099                 1         NaN
1202               NaN        2670  0.000124                 1         NaN
1203               NaN     1394024  0.041825                 1         NaN

[1204 rows x 10 columns]

In [593]:
df.set_index([("Graph", "name"), ("Graph", "n"), ("Graph", "m"),
              ("Exhaustive", "#operations"), ("Exhaustive", "#solutions tested"),
              ("Heuristic", "#operations"), ("Heuristic", "#solutions tested")], inplace=True)
df

,,,,,,,Exhaustive,Heuristic,greedy_prec
,,,,,,,exec_time,exec_time,
"(Graph, name)","(Graph, n)","(Graph, m)","(Exhaustive, #operations)","(Exhaustive, #solutions tested)","(Heuristic, #operations)","(Heuristic, #solutions tested)",,,
gset/G1,800,19176,NaN,NaN,6225342,1,NaN,0.142515,0.810908
gset/G2,800,19176,NaN,NaN,6232143,1,NaN,0.145883,0.843632
gset/G3,800,19176,NaN,NaN,6208707,1,NaN,0.146347,0.722165
gset/G4,800,19176,NaN,NaN,6233849,1,NaN,0.144618,0.855487
gset/G5,800,19176,NaN,NaN,6225710,1,NaN,0.144028,0.815837
...,...,...,...,...,...,...,...,...,...
graphs/0070_125.graphml,70,301,NaN,NaN,30325,1,NaN,0.000876,NaN
graphs/0025_500.graphml,25,150,NaN,NaN,2899,1,NaN,0.000134,NaN
graphs/0021_750.graphml,21,157,NaN,NaN,1827,1,NaN,0.000099,NaN
graphs/0024_250.graphml,24,69,NaN,NaN,2670,1,NaN,0.000124,NaN
graphs/0400_750.graphml,400,59850,NaN,NaN,1394024,1,NaN,0.041825,NaN

In [594]:
index_list = df.index.tolist()

def minNan(x):
    x1 = [i for i in x if not pd.isnull(i)]
    if x1 == []:
        return x[0]
    else:
        return min(x1)

for index in index_list:
    locked = df.loc[index]
    if len(locked) == 1:
        pass
    else:
        for col in locked.columns:
            locked[col] = minNan(list(locked[col]))
        df.loc[index] = locked.iloc[0].to_frame().T.values[0]

In [595]:
df.reset_index(inplace=True)
df.drop_duplicates(inplace=True)
df

                       Graph                Exhaustive                    \
                        name    n      m   #operations #solutions tested
0                    gset/G1  800  19176           NaN               NaN
1                    gset/G2  800  19176           NaN               NaN
2                    gset/G3  800  19176           NaN               NaN
3                    gset/G4  800  19176           NaN               NaN
4                    gset/G5  800  19176           NaN               NaN
..                       ...  ...    ...           ...               ...
867  graphs/0022_750.graphml   22    173  4.886366e+08         4194304.0
868  graphs/0023_125.graphml   23     31  1.069548e+09         8388608.0
869  graphs/0023_250.graphml   23     63  1.069548e+09         8388608.0
870  graphs/0023_500.graphml   23    126  1.069548e+09         8388608.0
871  graphs/0023_750.graphml   23    189  1.069548e+09         8388608.0

      Heuristic                    Exhaustive Heuristic greedy_prec
    #operations #solutions tested   exec_time exec_time
0       6225342                 1         NaN  0.141065    0.810908
1       6232143                 1         NaN  0.141965    0.843632
2       6208707                 1         NaN  0.140646    0.722165
3       6233849                 1         NaN  0.140991    0.855487
4       6225710                 1         NaN  0.138871    0.815837
..          ...               ...         ...       ...         ...
867        2008                 1   91.687487  0.000129    0.904453
868        2193                 1  201.335872  0.000228    0.856354
869        2195                 1  197.727337  0.000132    0.890438
870        2195                 1  202.072648  0.000158    0.898520
871        2196                 1  198.465086  0.000236    0.918321

[413 rows x 10 columns]

In [596]:
len(set(df[("Graph", "name")]))

329

In [597]:
df.set_index([("Graph", "name"), ("Graph", "n"), ("Graph", "m")], inplace=True)
df

                                                 Exhaustive                    \
                                                #operations #solutions tested
(Graph, name)           (Graph, n) (Graph, m)
gset/G1                 800        19176                NaN               NaN
gset/G2                 800        19176                NaN               NaN
gset/G3                 800        19176                NaN               NaN
gset/G4                 800        19176                NaN               NaN
gset/G5                 800        19176                NaN               NaN
...                                                     ...               ...
graphs/0022_750.graphml 22         173         4.886366e+08         4194304.0
graphs/0023_125.graphml 23         31          1.069548e+09         8388608.0
graphs/0023_250.graphml 23         63          1.069548e+09         8388608.0
graphs/0023_500.graphml 23         126         1.069548e+09         8388608.0
graphs/0023_750.graphml 23         189         1.069548e+09         8388608.0

                                                Heuristic                    \
                                              #operations #solutions tested
(Graph, name)           (Graph, n) (Graph, m)
gset/G1                 800        19176          6225342                 1
gset/G2                 800        19176          6232143                 1
gset/G3                 800        19176          6208707                 1
gset/G4                 800        19176          6233849                 1
gset/G5                 800        19176          6225710                 1
...                                                   ...               ...
graphs/0022_750.graphml 22         173               2008                 1
graphs/0023_125.graphml 23         31                2193                 1
graphs/0023_250.graphml 23         63                2195                 1
graphs/0023_500.graphml 23         126               2195                 1
graphs/0023_750.graphml 23         189               2196                 1

                                               Exhaustive Heuristic  \
                                                exec_time exec_time
(Graph, name)           (Graph, n) (Graph, m)
gset/G1                 800        19176              NaN  0.141065
gset/G2                 800        19176              NaN  0.141965
gset/G3                 800        19176              NaN  0.140646
gset/G4                 800        19176              NaN  0.140991
gset/G5                 800        19176              NaN  0.138871
...                                                   ...       ...
graphs/0022_750.graphml 22         173          91.687487  0.000129
graphs/0023_125.graphml 23         31          201.335872  0.000228
graphs/0023_250.graphml 23         63          197.727337  0.000132
graphs/0023_500.graphml 23         126         202.072648  0.000158
graphs/0023_750.graphml 23         189         198.465086  0.000236

                                              greedy_prec

(Graph, name)           (Graph, n) (Graph, m)
gset/G1                 800        19176         0.810908
gset/G2                 800        19176         0.843632
gset/G3                 800        19176         0.722165
gset/G4                 800        19176         0.855487
gset/G5                 800        19176         0.815837
...                                                   ...
graphs/0022_750.graphml 22         173           0.904453
graphs/0023_125.graphml 23         31            0.856354
graphs/0023_250.graphml 23         63            0.890438
graphs/0023_500.graphml 23         126           0.898520
graphs/0023_750.graphml 23         189           0.918321

[413 rows x 7 columns]

In [598]:
index_list = df.index.tolist()
for index in index_list:
    #print()
    pass

df.loc[index_list[101]]

                                                Exhaustive                    \
                                               #operations #solutions tested
(Graph, name)           (Graph, n) (Graph, m)
graphs/0021_250.graphml 21         52                  NaN               NaN
                                   52          222298231.0         2097152.0

                                                Heuristic                    \
                                              #operations #solutions tested
(Graph, name)           (Graph, n) (Graph, m)
graphs/0021_250.graphml 21         52                1826                 1
                                   52                1826                 1

                                              Exhaustive Heuristic greedy_prec
                                               exec_time exec_time
(Graph, name)           (Graph, n) (Graph, m)
graphs/0021_250.graphml 21         52                NaN  0.000095         NaN
                                   52          41.554906  0.000124    0.912162

In [599]:
index_list = df.index.tolist()

def minNan(x):
    global index
    if len(x) == 2 and (pd.isnull(x[0]) or pd.isnull(x[1])) and ( not pd.isnull(x[0]) or not pd.isnull(x[1])):
        return x[0] if pd.isnull(x[1]) else x[1]
    elif len(x) == 2 and x[1] == x[0]:
        return x[0]
    elif len(x) == 2 and type(x[0]) == float and type(x[1]) == float:
        return min(x)
    else:
        print(index)

for index in index_list:
    locked = df.loc[index]
    if len(locked) == 1:
        pass
    else:
        for col in locked.columns:
            locked[col] = minNan(list(locked[col]))
        df.loc[index] = locked.iloc[0].to_frame().T.values[0]

df

                                                 Exhaustive                    \
                                                #operations #solutions tested
(Graph, name)           (Graph, n) (Graph, m)
gset/G1                 800        19176                NaN               NaN
gset/G2                 800        19176                NaN               NaN
gset/G3                 800        19176                NaN               NaN
gset/G4                 800        19176                NaN               NaN
gset/G5                 800        19176                NaN               NaN
...                                                     ...               ...
graphs/0022_750.graphml 22         173         4.886366e+08         4194304.0
graphs/0023_125.graphml 23         31          1.069548e+09         8388608.0
graphs/0023_250.graphml 23         63          1.069548e+09         8388608.0
graphs/0023_500.graphml 23         126         1.069548e+09         8388608.0
graphs/0023_750.graphml 23         189         1.069548e+09         8388608.0

                                                Heuristic                    \
                                              #operations #solutions tested
(Graph, name)           (Graph, n) (Graph, m)
gset/G1                 800        19176          6225342                 1
gset/G2                 800        19176          6232143                 1
gset/G3                 800        19176          6208707                 1
gset/G4                 800        19176          6233849                 1
gset/G5                 800        19176          6225710                 1
...                                                   ...               ...
graphs/0022_750.graphml 22         173               2008                 1
graphs/0023_125.graphml 23         31                2193                 1
graphs/0023_250.graphml 23         63                2195                 1
graphs/0023_500.graphml 23         126               2195                 1
graphs/0023_750.graphml 23         189               2196                 1

                                               Exhaustive Heuristic  \
                                                exec_time exec_time
(Graph, name)           (Graph, n) (Graph, m)
gset/G1                 800        19176              NaN  0.141065
gset/G2                 800        19176              NaN  0.141965
gset/G3                 800        19176              NaN  0.140646
gset/G4                 800        19176              NaN  0.140991
gset/G5                 800        19176              NaN  0.138871
...                                                   ...       ...
graphs/0022_750.graphml 22         173          91.687487  0.000106
graphs/0023_125.graphml 23         31          201.335872  0.000106
graphs/0023_250.graphml 23         63          197.727337  0.000109
graphs/0023_500.graphml 23         126         202.072648  0.000114
graphs/0023_750.graphml 23         189         198.465086  0.000118

                                              greedy_prec

(Graph, name)           (Graph, n) (Graph, m)
gset/G1                 800        19176         0.810908
gset/G2                 800        19176         0.843632
gset/G3                 800        19176         0.722165
gset/G4                 800        19176         0.855487
gset/G5                 800        19176         0.815837
...                                                   ...
graphs/0022_750.graphml 22         173           0.904453
graphs/0023_125.graphml 23         31            0.856354
graphs/0023_250.graphml 23         63            0.890438
graphs/0023_500.graphml 23         126           0.898520
graphs/0023_750.graphml 23         189           0.918321

[413 rows x 7 columns]

In [600]:
df.reset_index(inplace=True)
df.drop_duplicates(inplace=True)
df

                       Graph              Exhaustive                    \
                        name    n      m #operations #solutions tested
0                    gset/G1  800  19176         NaN               NaN
1                    gset/G2  800  19176         NaN               NaN
2                    gset/G3  800  19176         NaN               NaN
3                    gset/G4  800  19176         NaN               NaN
4                    gset/G5  800  19176         NaN               NaN
..                       ...  ...    ...         ...               ...
324  graphs/0005_250.graphml    5      2       201.0              32.0
325  graphs/0034_750.graphml   34    420         NaN               NaN
326  graphs/0450_125.graphml  450  12628         NaN               NaN
327  graphs/0015_500.graphml   15     52   1753157.0           32768.0
328  graphs/0032_500.graphml   32    248         NaN               NaN

      Heuristic                   Exhaustive Heuristic greedy_prec
    #operations #solutions tested  exec_time exec_time
0       6225342                 1        NaN  0.141065    0.810908
1       6232143                 1        NaN  0.141965    0.843632
2       6208707                 1        NaN  0.140646    0.722165
3       6233849                 1        NaN  0.140991    0.855487
4       6225710                 1        NaN  0.138871    0.815837
..          ...               ...        ...       ...         ...
324          55                 1   0.000050  0.000009    1.000000
325        5961                 1        NaN  0.000249         NaN
326     1768826                 1        NaN  0.043465         NaN
327         817                 1   0.326072  0.000060    0.989664
328        4773                 1        NaN  0.000211         NaN

[329 rows x 10 columns]

In [601]:
520/2 + 69

329.0

In [602]:

df1 = df[[("Graph", "name"), ("Graph", "n"), ("Graph", "m"),
         ("Exhaustive", "#operations"), ("Exhaustive", "exec_time"),("Exhaustive", "#solutions tested"),
         ("Heuristic", "#operations"), ("Heuristic", "exec_time"), ("Heuristic", "#solutions tested"),
         ("greedy_prec", " ")]]

df_sorted = df1.sort_values(by=("Graph", "name")).reset_index(drop=True)

df_sorted

                       Graph                Exhaustive            \
                        name      n      m #operations exec_time
0    graphs/0004_125.graphml      4      0        68.0  0.000024
1    graphs/0004_250.graphml      4      1        70.0  0.000023
2    graphs/0004_500.graphml      4      3        74.0  0.000026
3    graphs/0004_750.graphml      4      4        72.0  0.000023
4    graphs/0005_125.graphml      5      1       199.0  0.000058
..                       ...    ...    ...         ...       ...
324                  gset/G7    800  19176         NaN       NaN
325                 gset/G70  10000   9999         NaN       NaN
326                 gset/G72  10000  20000         NaN       NaN
327                  gset/G8    800  19176         NaN       NaN
328                  gset/G9    800  19176         NaN       NaN

                        Heuristic                              greedy_prec
    #solutions tested #operations  exec_time #solutions tested
0                16.0          28   0.000007                 1    1.000000
1                16.0          28   0.000008                 1    1.000000
2                16.0          29   0.000009                 1    1.000000
3                16.0          29   0.000008                 1    1.000000
4                32.0          53   0.000009                 1    1.000000
..                ...         ...        ...               ...         ...
324               NaN     6224765   0.143155                 1    0.132104
325               NaN  1324406540  25.946424                 1    0.869565
326               NaN  1324879857  26.921012                 1    0.516985
327               NaN     6223580   0.144396                 1    0.170574
328               NaN     6228653   0.140115                 1    0.209834

[329 rows x 10 columns]

In [ ]:
#df_sorted.to_excel("results11.xlsx")